@import "tailwindcss";

@theme {
  --color-primary: #0f3040;
  --color-secondary: #a56f63;
  --color-accent: #d99b7f;
  --color-muted: #464858;
  --color-soft: #efe3dc;
  --color-background: #faf7f2;
}

@layer base {
  body {
    margin: 0;
    background-color: var(--color-background);
    color: var(--color-muted);
    font-family: Arial, Helvetica, sans-serif;
  }
}
