@import "tailwindcss";

@theme {
  --color-primary: #3368a0;
  --color-secondary: #66a3bf;
  --color-soft: #c8dfdb;
}

@layer base {
  body {
    margin: 0;
    background-color: #f7faf9;
    color: #1f2937;
    font-family: Arial, Helvetica, sans-serif;
  }
}
